html
    head
        title Feature Ops JavaScript Example

    body
        h1 Feature Ops
        p Example for the Official JavaScript (Client & Node.js) Library for the Feature Ops Web API
        p(id='feature')= status

script(src='https://app.featureops.com/featureops.min.js')
script(src='js/app.js')